body {
  margin: 20px;
  padding: 10px;
  font-family: sans-serif;
}

.poster {
  position: relative;
  width: 500px;
  height: 300px;
  border: #e91e63 solid 4px;
}

.image {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: #e91e63 solid 2px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 auto;
  text-align: center;
  text-shadow: #e91e63 0 0 10px;;
  color: white;
  font-size: 35px
}

.slogan {
  margin: 0 auto;
  text-align: center;
}
